@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-anima span, button span {
  max-width: 0;
  -webkit-transition: max-width 1s;
  transition: max-width 1s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
}
.btn-anima:hover span, button:hover span {
  max-width: 7rem;
}

	.shadow{
		width: 18px;
		height: 4px;
		background:  black;
		margin: 5px auto 0 auto;
		border-radius: 50%;
	}